<section class="prov-nosotros">
    <h2 class="prov-contacto-titulo">Contáctanos</h2>
    <div class="prov-contacto">
        <div class="prov-contacto__logo-contenedor">
            <img src="/KurmiProyect/RESOURCES/img/conejo.png" alt="Logo Kurmi" class="prov-contacto__logo">
        </div>
        <div class="prov-contacto__lista-cards">
            <div class="prov-card">
                <div class="prov-card__img"><img src="/KurmiProyect/RESOURCES/img/twiter.png" alt="X"></div>
                <div class="prov-card__info">
                    <p class="prov-card__nombre">Eileen Sofia</p>
                    <p class="prov-card__correo">EileenSofia.30@twiter.com</p>
                </div>
            </div>
            <div class="prov-card">
                <div class="prov-card__img"><img src="/KurmiProyect/RESOURCES/img/twiter.png" alt="X"></div>
                <div class="prov-card__info">
                    <p class="prov-card__nombre">Eileen Sofia</p>
                    <p class="prov-card__correo">EileenSofia.30@twiter.com</p>
                </div>
            </div>
            <div class="prov-card">
                <div class="prov-card__img"><img src="/KurmiProyect/RESOURCES/img/twiter.png" alt="X"></div>
                <div class="prov-card__info">
                    <p class="prov-card__nombre">Eileen Sofia</p>
                    <p class="prov-card__correo">EileenSofia.30@twiter.com</p>
                </div>
            </div>
            <div class="prov-card">
                <div class="prov-card__img"><img src="/KurmiProyect/RESOURCES/img/twiter.png" alt="X"></div>
                <div class="prov-card__info">
                    <p class="prov-card__nombre">Eileen Sofia</p>
                    <p class="prov-card__correo">EileenSofia.30@twiter.com</p>
                </div>
            </div>
            <div class="prov-card">
                <div class="prov-card__img"><img src="/KurmiProyect/RESOURCES/img/twiter.png" alt="X"></div>
                <div class="prov-card__info">
                    <p class="prov-card__nombre">Eileen Sofia</p>
                    <p class="prov-card__correo">EileenSofia.30@twiter.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
