<header>
    <div class="search">
        <img src="/KurmiProyect/RESOURCES/img/logo.png" alt="" class="logo__img">
    
    </div>
    <nav>
        <a href="/KurmiProyect/CLIENT/html/inicio.html">Inicio</a>
        <a href="/KurmiProyect/CLIENT/html/nosotros.html">Nosotros</a>
        <a href="/KurmiProyect/CLIENT/html/tienda.html">Tienda</a>
        <a href="/KurmiProyect/CLIENT/html/carrito.html">Carrito</a>
        <img src="/KurmiProyect/RESOURCES/img/perfil.png" alt="" class="header__avatar">
    </nav>
    <nav class="menu_despegable">
        <input type="checkbox" id="menu" placeholder="KFRRBJKGUIWERUIGWETUIGU=">
        <label for="menu"> ☰ </label>
        <div>
            <a href="/KurmiProyect/CLIENT/html/inicio.html" class="inicio">Inicio</a>
            <a href="/KurmiProyect/CLIENT/html/nosotros.html">Nosotros</a>
            <a href="/KurmiProyect/CLIENT/html/tienda.html" >Tienda</a>
            <a href="/KurmiProyect/CLIENT/html/tendencias.html">Carrito</a>
            <a href="/KurmiProyect/CLIENT/html/redes.html">Nuestras redes sociales</a>
            <a href="" class="tendencias">Mi perfil</a>
        </div>
    </nav>
</header>