<div class="tarjeta__fav">
    <img class="fav__imagen" src="" alt="">
    <div class="fav__info">
        <p class="fav__nombre"></p>
        <p class="fav__descripcion"></p>
        <p class="fav__precio"></p>
        <div class="fav__botones">
            <button class="btn__fav-comprar">Comprar</button>
            <button class="btn__fav-carrito" title="Añadir al carrito">
                <img src="../../RESOURCES/img/carrito.png" alt="Carrito">
            </button>
            <button class="btn__fav-quitar" title="Quitar de favoritos">
                <img src="../../RESOURCES/img/like.png" alt="Quitar">
            </button>
        </div>
    </div>
</div>