<div class="tarjeta">
    <img src="../RESOURCES/img/inicioHelado.png" alt="">
    <div>
        <p>
            Postre de chocolate con fresa con chips de chocolate y vainilla
        </p>
        <p>
            descripcion
        </p>
        <p>
            $20.000
        </p>
        <div class="botones">
            <button>
                Comprar
            </button>
            <button class="like">
                <img src="../../RESOURCES/img/like.png" alt="">
            </button>
            <button class="carrito">
                <img src="../../RESOURCES/img/carrito.png" alt="">
            </button>
        </div>

    </div>
</div>