<div class="pedido__card dev__solicitud-card">
    <img class="pedido__img" src="" alt="Imagen devolución">
    <div class="pedido__info">
        <p class="pedido__fecha" id="devCardFecha"></p>
        <span class="pedido__estado-badge" id="devCardEstadoBadge"></span>
        <p class="pedido__detalle dev__motivo-texto">
            <strong>Motivo:</strong> <span id="devCardMotivo"></span>
        </p>
        <p class="pedido__total" id="devCardTotal"></p>
        <p class="dev__motivo-resp hidden" id="devCardMotivoResp">
            <strong>Respuesta del administrador:</strong><br>
            <span id="devCardMotivoRespTexto"></span>
        </p>
        <p class="pedido__fecha dev__fecha-solicitud" id="devCardFechaSolicitud"></p>
    </div>
</div>