<div class="producto__card">
    <div class="card__imagen">
        <img src="" alt="" />
    </div>
    <div class="card__detalles">
        <p class="card__nombre"></p>
        <p class="card__precio"></p>
    </div>
    <div class="card__acciones">
        <div class="acciones__contador">
            <button class="btn-cantidad btn-menos" type="button">-</button>
            <span class="cantidad-valor">1</span>
            <button class="btn-cantidad btn-mas" type="button">+</button>
        </div>
        <button class="btn-eliminar" type="button" title="Eliminar producto">
            <img src="../../RESOURCES/img/delete.png" alt="Eliminar" />
        </button>
        <label class="checkbox-container">
            <input type="checkbox" class="chk-comprar" data-precio="" />
            <span class="custom-checkbox"></span>
        </label>
    </div>
</div>
