.menu_despegable{
    display: none;
}

.acceso__fondo{
    display: none;
}

main{
    flex: 1; /* Esto hace que el main crezca para ocupar el espacio sobrante */
    margin-top: 12vh; /* Evita que el header tape el contenido */
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: auto; /* IMPORTANTE: quitamos el height: 100vh para que crezca */
}