<aside class="menu-lateral">
    <input type="checkbox" id="aside">
    <label for="aside" class="toggle-btn">
        <div>
            <img src="../../RESOURCES/img/asideHome.png" alt="Toggle">
        </div>
    </label> 
    
    <div class="menudos">
        <div><img src="../../RESOURCES/img/twiter.png" alt="Icono"></div>
        <div><img src="../../RESOURCES/img/twiter.png" alt="Icono"></div>
        <div><img src="../../RESOURCES/img/twiter.png" alt="Icono"></div>
        <div><img src="../../RESOURCES/img/twiter.png" alt="Icono"></div>
        <div><img src="../../RESOURCES/img/twiter.png" alt="Icono"></div>
        <div><img src="../../RESOURCES/img/twiter.png" alt="Icono"></div>
    </div>
     
    <div id="contenedorCategoriasAside" class="letras">
        </div>
</aside>