<footer>
    <div>
        <img src="/KurmiProyect/RESOURCES/img/logo.png" alt="" class="logo__img footer_img">
        <p>"El lugar donde tus deseos estan al alcance de un click"</p>
    </div>
    <div>
        <p>
            Politica de privacidad ° Politica de Cookies <br>© 2026 - ElVariety.com 
        </p>
    </div>
    <div class="redes">
        <p>Nuestras redes sociales</p>
        <nav>
            <div>
                <img src="/KurmiProyect/RESOURCES/img/facebook.png" alt="Facebook">
            </div>
            <div>
                <img src="/KurmiProyect/RESOURCES/img/twiter.png" alt="Twitter">
            </div>
            <div>
                <img src="/KurmiProyect/RESOURCES/img/instagram.png" alt="Instagram">
            </div>
            <div>
                <img src="/KurmiProyect/RESOURCES/img/google.png" alt="Gmail">
            </div>

        </nav>
    </div>
</footer>